@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    color-scheme: dark light !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-text-size-adjust: 100%;
}
